﻿@page "/cat"
@using BlazorWASM.ViewModels
@inject ICatFactViewModel catFact

<h1>CatFact</h1>
@if (catFact.Cats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in catFact.Cats)
            {
                <tr>
                    <td>@item.Text</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        await catFact.GetCatFact();
    }
}
