﻿@page "/fetchdata"
@using BlazorWASM.ViewModels
@inject IFetchDataViewModel fetchDataViewModel

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (fetchDataViewModel.WeatherForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in fetchDataViewModel.WeatherForecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    protected override async Task  OnInitializedAsync()
    {
        await fetchDataViewModel.RetrieveForecastsAsync();
    }
}